
.btn-p {
    background-color: var(--text-tertiary);
    color: #000000;
    padding: 1.1rem 2.8rem;
    border-radius: 100px;
    font-size: 1.1rem;
    font-weight: 500;
}

.btn-p:hover {
    background-color: transparent;
    color: #FFFFFF;
}

.btn-p.dark {
    background-color: var(--bg-primary);
}

.btn-p.dark:hover {
    background: var(--bg-tertiary);
}

.btn-s {
    padding: 0.8rem 1.5rem;
    border: 1px solid lightgray;
    border-radius: 100px;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--text-primary)
}

.btn-s:hover, .btn-s.active {
    color: var(--bg-tertiary);
    border-color: var(--bg-tertiary);
    box-shadow: inset 2px 2px 0 var(--bg-tertiary),
    inset -2px -2px 0 var(--bg-tertiary),
    inset -2px 2px 0 var(--bg-tertiary),
    inset 2px -2px 0 var(--bg-tertiary);
}
